body {
    margin: 0;
    padding: 120px 0 0 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    justify-content: center;
    align-items: flex-start;
    background-image: url("setup_pc_compenents_images/half\ life\ background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1800px;
}

.container {
    width: 90%;
    max-width: 1300px;
    height: 680px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    animation: fadeIn 0.8s ease forwards;
    background: rgba(238, 98, 5, 0.4);
}

.setup-container {
  bottom: 300px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    text-align: center;
}

p {
    line-height: 1.6;
    font-size: 1.05rem;
}

.slides {
width: 97%;
height: 500px;
background: rgba(212, 164, 3, 0.5);
border-radius: 12px;
padding: 20px;
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.slide {
display: none;
font-size: 1.3rem;
}


.slide.active {
display: block;
}


/* Navigation */
.navigation {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 85px;
}


.navigation button {
background: #650072;
color: white;
border: none;
padding: 10px 20px;
border-radius: 10px;
font-size: 1.2rem;
cursor: pointer;
}


.navigation button:hover {
background: #7f0090;
}
.indicator-container { display: flex; justify-content: center; gap: 8px; margin-top: 10px; }
.indicator { width: 10px; height: 10px; background: #4a004f; border-radius: 50%; transition: 0.3s; }
.indicator.active { width: 18px; height: 18px; background: #ff4dff; }

.desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    height: 1600px;
}

.mobile {
  display: none;
  background: orange;
  color: white;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 400px;
  border-radius: 15px; 
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  background: #300036;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #404040;
  display: flex;
  align-items: center;
  z-index: 9999;
  padding: 0 10px;

}

.start-button {
    width: 70px;
    height: 100%;
  margin: 0 0 0 -15px;
  background: #650072;
  border: hidden;
}

.tux_with_gun {
    margin-left: -15px;
}

.tux-message {
    left: -3.5px;
    bottom: -1px;
    font-size: 16px;
    background-color: #650072;
    position: absolute;
    margin: 0 5px 0 0;
    padding: 2px 2px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 10px;
}